@import '../styles/App.scss';

/* BANNER TOP */

.banner {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  background-repeat: no-repeat;
  background-color: #595959;
  background-blend-mode: overlay;
  background-size: cover;

  &-home {
    background-image: url('../assets/banner-home.png');
    height: 223px;
    background-position: center;
  }

  &-about {
    background-image: url('../assets/banner-about.png');
    height: 223px;
    background-position: center;
  }

  & div {
    font-size: 48px;
    width: 705px;
    margin-top: 0px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: #ffffff;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .banner {
    & div {
      font-size: 32px;
      width: 500px;
    }
    &-home {
      height: 150px;
    }
  }
}
@media all and (max-width: 767px) {
  .banner {
    margin-bottom: 20px;

    border-radius: 10px;

    &-about {
      background-image: url('../assets/banner-about-small.png');
      height: 223px;
    }
    &-home {
      height: 111px;
    }
    & div {
      font-size: 24px;

      width: 78%;
    }
  }
}
