@import '../styles/App.scss';

/* BANNER TOP */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #595959;
  background-blend-mode: overlay;
  background-size: cover;

  &-home {
    background-image: url('../assets/banner-home.png');
    height: 111px;
  }

  &-about {
    background-image: url('../assets/banner-about-small.png');
    height: 223px;
  }

  & span {
    font-size: 24px;
    margin-top: 0px;
    width: 220px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: #ffffff;
  }
}

@media all and (min-width: 768px) {
  .banner {
    height: 223px;
    border-radius: 25px;
    &-about {
      background-image: url('../assets/banner-about.png');

      height: 223px;
    }

    & span {
      font-size: 48px;
      width: 705px;
    }
  }
}
