.caroussel {
  display: flex;
  &-count {
    margin: 0;
    position: absolute;
    color: white;
    font-size: 18px;
    line-height: 143%;
    bottom: 5%;
    left: 50%;
    z-index: 1;
  }
}

.arrow-previous,
.arrow-next {
  top: 50%;
  z-index: 1;
  margin: 0;
  position: absolute;
  height: 24px;
}
.arrow-previous {
  left: 10px;
}

.arrow-next {
  right: 10px;
}
