.caroussel {
  display: flex;
}
.caroussel-count {
  display: none;
  margin: 0;
  position: absolute;
  color: white;
  font-size: 18px;
  line-height: 143%;
  bottom: 5%;
  left: 47%;
  z-index: 1;
}
@media all and (min-width: 992px) {
  .caroussel-count {
    display: block;
  }
}

.arrow-previous,
.arrow-next {
  width: 96px;
  height: 119.64px;
  top: 40%;
  z-index: 1;
  margin: 0;
  position: absolute;
}
.arrow-previous {
  left: 10px;
}

.arrow-next {
  right: 10px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .arrow-previous,
  .arrow-next {
    width: 64.19px;
    height: 80px;
    top: 50%;
  }
}
@media all and (max-width: 767px) {
  .arrow-previous,
  .arrow-next {
    width: 24px;
    height: 24px;
    top: 50%;
  }
}
