footer {
  background-color: black;
  height: 209px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -100px;
  margin-right: -100px;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  footer {
    margin-left: -50px;
    margin-right: -50px;
  }
}
@media all and (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.footer img {
  width: auto;
  height: 39.44px;
}

.footer-mentions {
  color: white;
  font-size: 12px;
}
