footer {
  background-color: black;
  height: 209px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -20px;
  margin-right: -20px;
}

.footer img {
  width: auto;
  height: 39.44px;
}

.footer-mentions {
  color: white;
  font-size: 12px;
}
