@import '../styles/App.scss';
.home-gallerie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  justify-content: space-between;
  justify-items: center;
  align-self: center;
  gap: 20px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 40px;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .home-gallerie {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 767px) {
  .home-gallerie {
    background-color: white;
    border-radius: 0px;
    padding: 0px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.logement-infos-home {
  position: relative;
  + p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.logement-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  min-height: 255px;
  max-height: 415px;
  object-fit: cover;
}

.logement-image-max-width {
  max-width: 340px;
}

.logement-nom {
  text-shadow: 0.5px 0.5px black;
  position: absolute;
  top: 73%;
  left: 2%;
  margin-left: 10px;
  margin-right: 10px;
  bottom: 60px;
  color: white;
}

.logement-proprietaire-infos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logement-proprietaire {
  color: white;
  font-size: 12px;
  line-height: 143%;
  font-weight: 500;
  p {
    margin: 0;
    text-align: end;
  }
}
.logement-localisation {
  margin: 0;
  margin-bottom: 10px;
  color: $color-red;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  text-align: Left;
  vertical-align: Bottom;
}

.logement-tags {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.logement-tag {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 2px 20px;
  height: 18px;
  border-radius: 10px;
  background-color: $color-red;
  font-size: 10px;
  color: white;
  line-height: 143%;
}

.logement-proprietaire-rating {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logement-etoiles {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-red;
  font-size: 18px;
}

.proprietaire-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.logement-proprietaire {
  color: $color-red;
  font-size: 12px;
  font-weight: 500;
  line-height: 143%;
  margin-right: 10.5px;
}
.logement-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.dropdowns {
  display: flex;
  flex-direction: column;
}

.logement-dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
}

.logement-dropdown-title-arrow {
  z-index: 1;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $color-red;

  h3 {
    margin: 0;
    height: 29.93px;
    padding-left: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 13px;
    line-height: 18.54px;
    display: flex;
    align-items: center;
  }
  img {
    width: 18.42px;
    margin-right: 5px;
  }
}

.logement-dropdown-texte {
  position: relative;
  bottom: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: fit-content;
  width: 100%;
  background-color: #f6f6f6;

  p {
    font-size: 12px;
    padding-left: 10px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 18.54px;
  }
}
