@import '../styles/App.scss';

.thumb-gallery {
  margin: 20px;
  display: grid;
}
@media all and (min-width: 768px) {
  .thumb-gallery {
    background-color: #f6f6f6;
    border-radius: 25px;
  }
}

.thumb {
  margin: 0;
  //   width: 335px;
  width: 283px;
  height: 255px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: $color-red;
  p {
    margin: 0;
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
