@import '../styles/App.scss';

.thumb {
  width: 340px;
  height: 340px;
  background-color: $color-red;
  p {
    color: white;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
